.section__markup {
  padding-bottom: 0;
  position: relative;
}

.section__title--visibility {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
}
.advantages {
  display: flex;
}
.advantages__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $title-text-color;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;

  background-color: #f5f4fa;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}
